@import "compass/css3";
@import "compass/reset";
@import "reset_browser_style";
@import "ceaser-easing";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: #000000;
  background-color: #ffffff;
}

#container {
  width: 100%;
  height: 100%;
  color: #ffffff;

  > #content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #0000ff;

    > #top {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #ff0000;
      opacity: 0.5;
    }

    > #bottom {
      position: absolute;
      width: 100%;
      height: 120px;
      bottom: -20px;
      background-color: #ffff00;
      opacity: 0.5;
      color: #000000;

      &.show {
        bottom: -20px;
        @include ceaser-transition(bottom, 500ms, $easeOutBack);
      }

      &.hide {
        bottom: -100px;
        @include ceaser-transition(bottom, 250ms, $ease-out);
      }
    }
  }
}

#bottom {
  > ol.thumbnails {
    width: 100000px;
    padding: 5px 10px;
    overflow-x: scroll;

    > li {
      display: inline-block;
      width: 100px;
      height: 75px;
      margin: 5px 10px;

      > p {
        > img {
          width: 100px;
          height: 75px;
        }
      }
    }
  }
}