@import "compass/css3";
@import "compass/reset";
@import "reset_browser_style";
@import "ceaser-easing";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: #000000;
  background-color: #ffffff;
}

#container {
  width: 100%;
  height: 100%;
  color: #ffffff;

  > #content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #0000ff;

    > #top {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #ff0000;
      opacity: 0.5;
    }

    > #bottom {
      position: absolute;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
      height: 30%;
      bottom: -25%;
      //height: 160px;
      //bottom: -40px;
      background-color: #ffff00;
      opacity: 0.5;
      color: #000000;

      &.show {
        //bottom: -40px;
        bottom: -5%;
        @include ceaser-transition(bottom, 500ms, $easeOutBack);
      }

      &.hide {
        //bottom: -140px;
        bottom: -25%;
        @include ceaser-transition(bottom, 250ms, $ease-out);
      }
    }
  }
}

#top {
  > div.buttons {
    width: 100%;
    height: 100%;

    > p {
      position: absolute;
      width: 1em;
      font-size: 3em;
      text-align: center;
      vertical-align: baseline;
      cursor: pointer;

      &.move {
        top: 50%;
        width: 3em;
        height: 80%;
        @include translate(0, -50%);

        &.previous {
          left: 0;
        }

        &.next {
          right: 0;
        }

        > span {
          position: absolute;
          display: inline-block;
          width: 1em;
          height: 1em;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
        }
      }

      &.close {
        top: 0.25em;
        right: 0.25em;
        height: 1em;
      }
    }
  }
}

#bottom {
  > ol.thumbnails {
    position: absolute;
    top: 50%;
    height: 50%;
    @include translate(0, -50%);

    > li {
      display: inline-block;
      margin: 0 10px;

      > p {
        width: 100%;
        height: 100%;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      &.selected > p {
        border: solid 3px #0000ff;
      }
    }
  }
}