@import "~sanitize.css/sanitize.css";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: #000000;
  background-color: #ffffff;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

#container {
  width: 100%;
  height: 100%;
  color: #ffffff;

  > #content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #0000ff;

    > #top {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #ff0000;
      opacity: 0.5;
    }

    > #bottom {
      position: absolute;
      width: 100%;
      height: 25%;
      bottom: -5%;
      background-color: #ffff00;
      opacity: 0.5;
      color: #000000;
    }
  }
}
